*{
    margin: 0;
    padding: 0;
}
body{
    margin:0;
    padding: 0;
}
span>i{
    margin-bottom: 0px;
}
nav{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    padding: 0;
    margin: 0;
}
ul li{
    text-decoration: underline;
    font-size: 15px;
    font-weight: 500;
    margin-left: 15px;
    margin-right: 20px;
    margin-bottom: 15px;
}
#menu-container{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
#img-logo>img{
    width: 40px;
    height: 40px;
    margin: 20px 0px 0px 30px;
}
#menu-block{
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: 600;
    font-Size: 14px;
    margin-top: 10px;
}
#menu-block>span{
    margin-left: 20px;
}
#menu-item{
    display: inline-block;
}
#menu-item:hover>#menu-list{
    display: block;
}
#menu-list{
    display: none;
    position: absolute;
    right:390px;
    font-family: 'Poppins', sans-serif;
    border-top: 2px solid rgb(170, 210, 54);
    background-color: white;
    box-shadow: 0 2px 5px #ccc;
    margin-top: 5px;
}
#menu-list>ul{
    list-style-type: none;
    padding: 5px 60px 5px 5px;
}
#buy-btn{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: white;
    background-color: rgb(170, 210, 54);
    padding: 9px 34px;
    border: none;
    border-radius: 4px;
    margin: 10px 40px 0px 20px;
}
#landing-wrapper{
    height: 550px;
    background-image: url('https://edyoda.s3.ap-south-1.amazonaws.com/public/landing-background.png');
    background-repeat: no-repeat;
    margin-top: 67px;
}
#landing-text{
    text-align: center;
    margin: auto;
}
#landing-text>h2{
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    font-weight: 600;
    letter-spacing: 8.8px;
    line-height: 1.2;
    padding-top: 150px;
    padding-left: 150px;
    padding-right: 150px;
}
#landing-text>p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 400;
    Color: #8b8b99;
    padding-left: 150px;
    padding-right: 150px;
}
#step-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 100vh;
    text-align: center;
    color: white;
}
#step-container i{
    width: 96px;
    font-size: 96px;
    margin-top: 100px;
    margin-bottom: 30px;
    transition: transform 0.3s;
}
#step-container label{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
}
#step-container p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.6;
    padding: 15px;
}
#step-item1{
    background-color: #5acda6;
}
#step-item2{
    background-color:  #91ac41;
}
#step-item3{
    background-color: #e4b476;
}
#step-item4{
    background-color: #f69dad;
}
#step-item1:hover>i{
    transform: scale(1.1);
}
#step-item2:hover>i{
    transform: scale(1.1);
}
#step-item3:hover>i{
    transform: scale(1.1);
}
#step-item4:hover>i{
    transform: scale(1.1);
}
#store-section{
    background-color: #f7eee2;
    text-align: center;
    padding-top: 60px;
}
.fresh-food{
    color: #91ac41;
    font-size: 24px;
    font-family: 'Caveat', cursive;
    margin: 0;
    margin-top: 35px;
}
.store-header{
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    font-weight: 600;
    margin-bottom: 10px;
}
.store-description{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #8b8b99;
    letter-spacing: 0.5px;
}
#store-icons-container{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 70vh;
    margin-top: 80px;
    padding:0px 80px 0px 80px;
}
.store-icon{
    display: inline-block;
    background-color: #e3b375;
    width:60px;
    color: white;
    border-radius: 50%;
    text-align: center;
    padding: 40px;
    margin-bottom: 30px;
    transition: transform 0.3s;
}
.store-icon>i{
    font-size: 60px; 
}
.store-icon+h3{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}
.store-icon~p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: #8b8b99;
}
#camera-container:hover>div{
    transform: scale(1.1);
}
#rocket-container:hover>div{
    transform: scale(1.1);
}
#twitter-container:hover>div{
    transform: scale(1.1);
}
#weixin-container:hover>div{
    transform: scale(1.1);
}
#testimonial-section{
    text-align: center;
    padding-top: 75px;
    padding-bottom: 75px;
}
#testimonials-container{
    display: grid;
    justify-content: center;
    grid-column-gap: 30px;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 60vh;
    margin-top: 80px;
    text-align: center;
}
.testimonial-card{
    background-color: #f5f6fb;
    border-radius: 45px 0px 45px 45px;
    text-align: center;
    overflow-wrap: break-word;
}
.testimonial-card>img{
    border-radius: 50%;
    width: 80px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.testimonial{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-style: Italic;
    color: #8b8b99;
    padding: 0px 20px;
    margin-bottom: 30px;
}
.author-name{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight:  600;
}
.author-title{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #8b8b99;
    font-style: Italic;
}
.testimonial-card:hover{
    box-shadow: 3px 7px 10px #f1f3fa;
}